<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @student.teacher.name%>
</p>


<h3>Grades</h3>

  <% students.each do |student| %>
      <p><%= student.name %></p>
      <p><%= student.email %></p>
      <p><%= link_to 'Add/ Edit Grades' grade_path(grade) %>
  <% end %>
