<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <h3>Students</h3>

  <div class="subfield">
    <%= f.label :name %><br>
  </div>
  <div class="subfield">
    <%= f.label :email %><br>
  </div>
  <div class="subfield">
    <%= f.label :password %><br>
  </div>

  <%= f.fields_for :students do |ff| %>
    <div>
      <div class="subfield">
        <%= ff.text_field :name %>
      </div>
      <div class="subfield">
        <%= ff.text_field :email %>
      </div>
      <div class="subfield">
        <%= ff.text_field :password %>
      </div>
      <div class="subfield">
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy %><br>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
