
<h2>School Staff</h2>

<% @teachers.each do |teacher| %>
  <p><h3><%= teacher.name %></h3></p>
  <p>
    <%= link_to 'Show Teacher Info', teacher %>
    <%= link_to 'Edit Teacher Info', edit_teacher_path(teacher) %>
    <%= link_to 'Destroy Teacher', teacher, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

<% end %>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
