
<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Teacher ID#:</strong>
  <%= @teacher.id %>
</p>

<h4>Students</h4>

<% @teacher.students.each do |student| %>
  <p><%= student.name %></p>
<% end %>

<%= link_to 'Edit Student Info', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
