
<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Teacher ID#:</strong>
  <%= @teacher.id %>
</p>

<h3>Students</h3>

  <% @teacher.students.each do |student| %>
      <p><%= student.name %></p>
      <p><%= student.email %></p>
      <h5>Grades</h5>
      <% student.grades.each do |grade| %>
        <p>Assignment: <%= grade.assignment_name %> Grade: <%= grade.grade %> |
        <% end %>
  <% end %>



<%= link_to 'Edit Info', edit_teacher_path(@teacher) %> |
<%= link_to 'Teacher Index', teachers_path %>
